#modalPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;   
}

#modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px; 
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px #84BB3E;
  background-color:#191919;  
}

#modalContainer img {
  width: 250px;
  border-radius: 5px;
  margin: 10px;
}