.gameCardContainer {  
  width: 100%;
  max-width: 150px;
  aspect-ratio: 4/4;
  border-radius: 5px;
  position: relative;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 4px 0px #84BB3E;
}

.gameCardContainer:hover {  
  cursor: pointer;  
}

.revealFront {
  transform: rotateY(180deg) ;
}

.gameCard {
  width: 100%;
  height: 100%;
  position: absolute;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url('../../../images/gameCardFront.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: hidden;
  z-index: 1;
  transition: 0.3s ease;
  box-shadow: 0px 0px 4px 0px #84BB3E;
}

.back:hover {
  transform: scale(1.1);
}
